/* /Pages/Index.razor.rz.scp.css */
body[b-uuf0bdq07y] {
    margin: 0;
}

#GenerateButton[b-uuf0bdq07y] {
    font-size: 3vh;
    width: 18ch;
    height: 8vh;
    margin: 10vh auto 0 auto;
    display: block;
    position: relative;
    border: none;
    border-radius: 1.5vh;
}

#GenerateButtonSide[b-uuf0bdq07y] {
    font-size: 3vh;
    width: 18ch;
    height: 8vh;
}

#GenerateButtonText[b-uuf0bdq07y] {
    user-select: none;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

.ColorCountButton[b-uuf0bdq07y] {
    height: 7vh;
    width: 7vh;
    position: relative;
    border: none;
    border-radius: 1.5vh;
    vertical-align: top;
}

.ColorCountButtonSide[b-uuf0bdq07y] {
    width: 7vh;
    height: 7vh;
}

.Button[b-uuf0bdq07y] {
    transition: transform 25ms;
}

.Button:hover[b-uuf0bdq07y] {
    transform: translate(0, 0.25vh);
}

.Button:active[b-uuf0bdq07y] {
    transform: translate(0, 0.75vh);
}

.ButtonSide[b-uuf0bdq07y] {
    margin: 0 auto;
    position: absolute;
    bottom: -0.75vh;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 1.5vh;
}
/* /Shared/ColorDisplay.razor.rz.scp.css */
*[b-zm9nzr2geh] {
    --width: 80vmin;
    --height: 7vh;
}

.Button[b-zm9nzr2geh] {
    width: var(--width);
    height: var(--height);
    margin: 5vh auto 0 auto;
    padding: 1vh;
    display: flex;
    position: relative;
    border: none;
    border-radius: 1.5vh;
    transition: transform 25ms;
}

.Button:hover[b-zm9nzr2geh] {
    transform: translate(0, 0.25vh);
}

.Button:active[b-zm9nzr2geh] {
    transform: translate(0, 0.75vh);
}

.ButtonSide[b-zm9nzr2geh] {
    width: var(--width);
    height: var(--height);
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: -0.75vh;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 1.5vh;
}

.Color[b-zm9nzr2geh] {
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
}

.HexText[b-zm9nzr2geh] {
    font-family: 'Roboto Mono', monospace;
    user-select: none;
    text-align: center;
    margin: 0;
}

.InvisibleBox[b-zm9nzr2geh] {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--width);
    height: var(--height);
    transition: transform 25ms;
}

.Button:hover .InvisibleBox[b-zm9nzr2geh] {
    transform: translate(0, -0.25vh);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-z5kkf1fq1k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-z5kkf1fq1k] {
    flex: 1;
}

.sidebar[b-z5kkf1fq1k] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-z5kkf1fq1k] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-z5kkf1fq1k]  a, .top-row .btn-link[b-z5kkf1fq1k] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-z5kkf1fq1k] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-z5kkf1fq1k] {
        display: none;
    }

    .top-row.auth[b-z5kkf1fq1k] {
        justify-content: space-between;
    }

    .top-row a[b-z5kkf1fq1k], .top-row .btn-link[b-z5kkf1fq1k] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-z5kkf1fq1k] {
        flex-direction: row;
    }

    .sidebar[b-z5kkf1fq1k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-z5kkf1fq1k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-z5kkf1fq1k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
