.button-tooltip, .button-tooltip-triangle {
    --tooltip-top-offset: -68px;
    --tooltip-height: 25px;
    --tooltip-padding-vertical: 9px;
    opacity: 0;
    pointer-events: none;
}

.button-tooltip {
    position: absolute;
    height: var(--tooltip-height);
    top: var(--tooltip-top-offset);
    transform: translateX(-50%);
    background-color: var(--color-e2);
    color: var(--color-e2-85);
    font-family: sans-serif;
    font-size: var(--tooltip-height);
    line-height: var(--tooltip-height);
    white-space: nowrap;
    padding: var(--tooltip-padding-vertical) 13px;
    border-radius: var(--inner-border-radius);
}

.square-button:disabled .button-tooltip {
    color: var(--color-e2-40);
}

.button-tooltip-triangle {
    background-color: var(--color-e2);
    position: absolute;
    width: 20px;
    height: 10px;
    transform: translateX(-50%);
    left: 50%;
    top: calc(var(--tooltip-top-offset) + var(--tooltip-height) + var(--tooltip-padding-vertical) + 9px);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.button-tooltip-visible {
    animation: tooltip-appear 50ms ease 500ms 1 forwards;
}

@keyframes tooltip-appear {
    0% {
        transform: translate(-50%, -10px);
    }
    100% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }
}